<div class=' border-bottom p-3'>
  <h1 class='text-center'> <%= @recipe.name %></h1>
  <div class= 'd-flex justify-content-between'>
  <div>preparation time: <%= @recipe.preparation_time%></div>
  <span><%= @recipe.public %></span>
  </div>

  <div>coooking time: <%= @recipe.cooking_time %></div>
  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
     Generate Shopping list
    </button>
    
    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content "  style="height: 400px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h2> Choose an inventory to use </h2>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Inventory
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Generate</button>
          </div>
        </div>
      </div>
    </div>
    
    <% if @recipe.user == current_user %>
      <%= link_to 'Add ingredients', new_food_path, class: 'btn btn-outline-info' %> 
    <%end%> 
  </div>
</div>
